[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ms-api = {editable = true, git = "https://github.com/MahjongRepository/mahjong_soul_api.git"}
flask = {extras = ["async"], version = "*"}
gunicorn = "*"

[dev-packages]

[scripts]
server = "flask run --host 0.0.0.0 --port 5001"

[requires]
python_version = "3.7"
